@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to bottom,
      #16a34a,
      #ca8a04
    ); /* ou a cor desejada */
    border-radius: 9999px; /* para torná-la completamente arredondada */
  }

  /* Esconde a barra de rolagem no Webkit browsers */
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem */
  }

  /* Opcional: para garantir que a rolagem ainda funcione em todos os navegadores */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
